<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.trackrecord"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon">        
       <!-- <activity android:name="fitness.core.WorkoutScreen"
            		android:label="Track Record">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> --> 
        <activity android:name="fitness.core.SplashScreen"
            		android:label="Track Record">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fitness.core.ExerciseScreen" 
            		android:screenOrientation="sensor"
                  	android:configChanges="keyboardHidden"
                  	android:label="Track Record"></activity>
      	 <activity android:name="fitness.core.HomeScreen"></activity>
      	 <activity android:name="fitness.core.ProgressScreen"></activity>
      	 <activity android:name="fitness.core.WorkoutScreen"></activity>
      	 <activity android:name="fitness.core.SetScreen"></activity>
      	 <activity android:name="fitness.core.PrefsScreen"></activity>
      	 
      	 <instrumentation android:name="android.test.InstrumentationTestRunner"
		    android:targetPackage="your.package"
		    android:label="your tests label" />
      	 <uses-library android:name="android.test.runner" />
    </application>
</manifest>